### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is stored and organized in a way that allows for efficient retrieval, manipulation, and querying of data. Databases are commonly used in modern software development to store and manage large amounts of data.

SQL and NoSQL are two different types of databases that have different data models, storage mechanisms, and query languages.

SQL (Structured Query Language) databases are based on the relational data model, which organizes data into tables with predefined columns and rows. SQL databases are characterized by their use of SQL as a query language, which allows developers to perform complex queries on the data stored in the tables. Some examples of SQL databases include MySQL, Oracle, and PostgreSQL.

NoSQL (Not Only SQL) databases, on the other hand, use a variety of data models for organizing and storing data. NoSQL databases are designed to handle large amounts of unstructured or semi-structured data and are often used in modern web and mobile applications. NoSQL databases typically do not use SQL as a query language, and instead use APIs or other programming interfaces to interact with the data. Some examples of NoSQL databases include MongoDB, Couchbase, and Cassandra.

Here are some key differences between SQL and NoSQL databases:

Data model: SQL databases use a relational data model, while NoSQL databases use a variety of data models, including document-based, key-value, graph-based, and column-family.

Query language: SQL databases use SQL as a query language, while NoSQL databases use APIs or other programming interfaces.

Scalability: NoSQL databases are often more scalable than SQL databases, as they can be distributed across multiple servers and can handle large amounts of unstructured data.

Data consistency: SQL databases ensure strong data consistency and ACID (Atomicity, Consistency, Isolation, Durability) compliance, while NoSQL databases often prioritize availability and partition tolerance over strong data consistency.

Schema flexibility: NoSQL databases often offer more schema flexibility than SQL databases, as they do not require predefined table schemas.

Ultimately, the choice between a SQL or NoSQL database depends on the specific needs of a given application, and factors such as scalability, data consistency, and schema flexibility should be carefully considered when selecting a database technology.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that is used to define the structure of a database and the objects within it. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views.

The following are some common DDL statements and their uses:

CREATE: The CREATE statement is used to create a new database object, such as a table, index, or view. For example, the following SQL statement creates a new table named "employees":

CREATE TABLE employees (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   age INT,
   salary FLOAT
);

DROP: The DROP statement is used to delete an existing database object. For example, the following SQL statement drops the "employees" table:

DROP TABLE employees;

ALTER: The ALTER statement is used to modify the structure of an existing database object. For example, the following SQL statement adds a new column called "department" to the "employees" table:

ALTER TABLE employees ADD COLUMN department VARCHAR(50);

TRUNCATE: The TRUNCATE statement is used to delete all rows from a table. Unlike the DROP statement, the TRUNCATE statement does not delete the table structure itself. For example, the following SQL statement removes all rows from the "employees" table:

TRUNCATE TABLE employees;

DDL statements are used to define and manipulate the structure of a database and its objects. The CREATE statement is used to create new objects, the DROP statement is used to delete objects, the ALTER statement is used to modify objects, and the TRUNCATE statement is used to remove data from a table. These statements are essential for defining the schema and managing the objects within a database.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) that is used to modify the data within a database. DML statements include INSERT, UPDATE, DELETE, and SELECT.

The following are some common DML statements and their uses:

INSERT: The INSERT statement is used to add new rows to a table. For example, the following SQL statement adds a new employee to the "employees" table:

INSERT INTO employees (id, name, age, salary, department) 
VALUES (1001, 'John Smith', 30, 50000.00, 'Sales');

UPDATE: The UPDATE statement is used to modify existing rows in a table. For example, the following SQL statement updates the salary of the employee with id=1001 to 55000.00:

UPDATE employees SET salary=55000.00 WHERE id=1001;

DELETE: The DELETE statement is used to delete existing rows from a table. For example, the following SQL statement deletes the employee with id=1001 from the "employees" table:

DELETE FROM employees WHERE id=1001;

DML statements are used to modify the data within a database. The INSERT statement is used to add new rows to a table, the UPDATE statement is used to modify existing rows, and the DELETE statement is used to remove rows from a table. These statements are essential for managing the data within a database.

### Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. The SELECT statement is the most common DQL statement, and it is used to retrieve data from one or more tables in a database.

SELECT column1, column2, ... FROM table_name WHERE condition;

Example

SELECT * FROM employees;

This statement will return all the columns and all the rows from the "employees" table.

We can also specify specific columns that you want to retrieve, like this:

SELECT name, age, department FROM employees;

This statement will return only the "name", "age", and "department" columns from the "employees" table.

SELECT * FROM employees WHERE department = 'Sales';

This statement will return all the columns and all the rows from the "employees" table where the "department" column is equal to 'Sales'.

The SELECT statement is used to retrieve data from one or more tables in a database. The columns to retrieve are specified in the SELECT clause, and the table(s) to retrieve data from are specified in the FROM clause. The WHERE clause is used to specify a condition that must be met for a row to be included in the result set.

### Q5. Explain Primary Key and Foreign Key.

In a relational database, a primary key is a unique identifier for each record in a table. It is used to enforce data integrity by ensuring that each record is unique and identifiable. A primary key can be composed of one or more columns in a table, and it is typically created when the table is first created.

For example, consider a table called "customers" that contains information about customers. One of the columns in the table is "customer_id", which is a unique identifier for each customer. This column can be defined as the primary key for the table to ensure that each customer is uniquely identified.

A foreign key, on the other hand, is a column or set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables and enforce referential integrity. The foreign key column(s) in one table must match the primary key column(s) in the other table.

For example, consider two tables called "orders" and "customers". The "orders" table contains information about customer orders, and one of the columns in the table is "customer_id", which refers to the "customer_id" column in the "customers" table. This establishes a relationship between the two tables, and ensures that each order is associated with a valid customer.

In summary, a primary key is a unique identifier for each record in a table, while a foreign key is a column or set of columns in one table that refers to the primary key of another table. Together, primary and foreign keys are used to establish relationships between tables and enforce data integrity in a relational database.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch the results
results = mycursor.fetchall()

# Print the results
for row in results:
  print(row)

We first import the mysql.connector module and use it to connect to the MySQL database by specifying the host, user, password, and database name.

Next, we create a cursor object using the cursor() method of the database connection. The cursor object is used to execute SQL queries and fetch the results.

We then use the execute() method of the cursor object to execute a SQL query, which in this case selects all the rows from the "customers" table.

Finally, we use the fetchall() method of the cursor object to fetch all the results of the query, and then print each row using a loop.

The cursor() method creates a cursor object that is used to execute SQL queries and fetch the results. The cursor object is used to interact with the database, and it keeps track of the current position in the result set.

The execute() method of the cursor object is used to execute SQL queries. It takes an SQL query as a parameter, and it returns the number of rows affected by the query. If the query returns data, the fetchone() or fetchall() method of the cursor object can be used to fetch the results.

### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM - specifies the table(s) to be queried

JOIN - combines rows from two or more tables

WHERE - specifies the conditions for the query

GROUP BY - groups the query results based on one or more columns

HAVING - specifies the conditions for group selection

SELECT - selects the columns to be displayed in the query results

DISTINCT - removes duplicate rows from the query results

ORDER BY - sorts the query results based on one or more columns

LIMIT - limits the number of rows returned by the query

Additionally, some database management systems may have slight variations in the order of execution or may optimize the query differently.